#download {
    width: 100%;
    height: 50vh;
    padding: 50px 0;
    background-color: #fdcc52;
    font-family: $text-font;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.download-text {
    width: 90%;
    margin: 0 auto;

    h1 {
        font-size: 4em;
        text-shadow: 2px 3px 6px #000000;
    }

    p {
        font-size: 1.5em;
        margin: 10px 0;
        text-shadow: 2px 3px 6px #000000;
    }
}

.download-app {
    width: 50%;
    margin: 0 auto;

    img {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .download-text {
        h1 {
            font-size: 2em;
        }
    }

    .download-app {
        display: flex;
        flex-direction: column;
        width: 70%;

        img {
            width: 70%;
        }
    }
}