#header {
  width: 100%;
  height: 100vh;
  background: url(../images/bg-pattern.png), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: url(../images/bg-pattern.png), linear-gradient(to left, #7b4397, #dc2430);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 500;
}

.nav-bar a {
  color: #ccced1;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav-bar nav {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15vh;
}

.header-text div {
  width: 50%;
}

.header-text div h1 {
  color: #fff;
  font-family: "Catamaran", sans-serif;
  font-size: 4em;
  line-height: 1.1;
}

.header-text div button {
  font-size: 1.7em;
  background: transparent;
  color: #fff;
  font-family: "Catamaran", sans-serif;
  letter-spacing: 1px;
  padding: 5px 20px;
  border-radius: 50px;
  margin: 20px 0;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header-text div button:hover {
  background-color: #fdcc52;
}

.header-text img {
  height: 80vh;
}

@media screen and (max-width: 1000px) {
  .nav-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-bar nav {
    width: 100%;
  }
  .nav-bar #app-name {
    display: none;
  }
  .header-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10vh;
  }
  .header-text div {
    width: 90%;
    text-align: center;
    margin-bottom: 30px;
  }
  .header-text div h1 {
    font-size: 2em;
  }
  .header-text div button {
    font-size: 1em;
  }
  .header-text img {
    height: 40vh;
  }
}

#download {
  width: 100%;
  height: 50vh;
  padding: 20px 0;
  background-color: #fdcc52;
  font-family: "Catamaran", sans-serif;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.download-text {
  width: 90%;
  margin: 0 auto;
}

.download-text h1 {
  font-size: 4em;
  text-shadow: 2px 3px 6px #000000;
}

.download-text p {
  font-size: 2em;
  margin: 10px 0;
  text-shadow: 2px 3px 6px #000000;
}

.download-app {
  width: 50%;
  margin: 0 auto;
}

.download-app img {
  width: 40%;
}

@media screen and (max-width: 1000px) {
  .download-text h1 {
    font-size: 2em;
  }
  .download-text p {
    font-size: 1.5em;
  }
  .download-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
  }
  .download-app img {
    width: 70%;
  }
}

html {
  scroll-behavior: smooth;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */